@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: wrap;
  margin: 0;
  padding: 3rem;
}

.add {
  position: fixed;
  color: #fff;
  top: 1rem;
  right: 1rem;
  background-color: #9ec862;
  border: none;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}